_build/
.DS_Store
.env
.ipynb_checkpoints
.pytest_cache
.vscode
*.bed.bgz
*.bt2
*.ipynb
*.pyc
**.vscode
build/
capcruncher.egg-info/
dist/
docs/_build/
pkgs/
*.tar.gz
*.bed.bgz
_version.py
*.log
cliff.toml
.coverage.*
coverage.xml
tests/data/data_for_pipeline_run/mm9_capture_viewpoints_Slc25A37.bed.gz
tests/data/data_for_pipeline_run/mm9_capture_viewpoints_Slc25A37.bed.gz.tbi
.coverage
sps-*
