*.pyc
*.json
.vscode
**.vscode
.pytest_cache
.env
docs/_build/
dist/
build/
ccanalyser.egg-info/
pkgs/
ccanalyser/tests/test/*.*
ccanalyser/tests/stats/*.*
_build/
.DS_Store
ccanalyser/tests/pipeline_test_run/

