*.pyc
*.json
.vscode
**.vscode
.pytest_cache
.env
docs/_build/
dist/
build/
capcruncher.egg-info/
pkgs/
capcruncher/tests/test/*.*
capcruncher/tests/stats/*.*
_build/
.DS_Store
capcruncher/tests/pipeline_test_run/

