include LICENSE
include README.md
include pyproject.toml

graft capcruncher

exclude .dockerignore
exclude .gitignore
exclude .pre-commit-config.yaml
exclude AGENTS.md
exclude Dockerfile
exclude codecov.yml
exclude conftest.py
exclude environment.yml
exclude mkdocs.yml
exclude pixi.lock
exclude pixi.toml
exclude uv.lock

prune .github
prune docs
prune tests

global-exclude .DS_Store
global-exclude *.py[cod]
global-exclude __pycache__
