# Essential to run pipeline
click<=8.2.0
cookiecutter<=2.1.1
loguru<=0.7.2
more-itertools
numpy<=1.26.4
pandas<=2.1.2
polars
PuLP<2.8.0
pyarrow
pybedtools
pyranges<=0.0.129
snakemake_wrapper_utils
snakemake<=8.14.0
