# Essential to run pipeline
biopython
click>=8,<9
capcruncher-tools>=0.2.4,<0.3.0
loguru>=0.7,<1
numpy>=2,<3
pandas>=2.2,<3
plotly>=6,<7
polars>=1.34,<2
pyarrow>=16
pyranges1
pyyaml
snakemake>=9,<10
tqdm>=4,<5
typer>=0.16,<1
