capcruncher-tools>=0.1.9
click<=8.2.0
cookiecutter
cooler
duckdb
h5py
ibis-framework[duckdb]
loguru
more-itertools
numpy
pandas<=2.1.1
plotly>5.0.0,<=5.17.0
pyarrow>8.0.0,<14.0.0
pandera<=0.17.2
pydantic<=2.3.0
pybedtools
pyranges
pysam>0.15.0,<=0.21.0
quarto
ray
seaborn
snakemake<=7.32.4
tqdm
trackhub
tracknado
ujson
xopen
xxhash
