click<8.2.0
cooler
duckdb
h5py
ibis-framework[duckdb]
joblib
loguru
more-itertools
natsort
numpy
pandas<1.4.5
plotly>5.0.0,<=5.10.0
pyarrow>8.0.0,<=9.0.0
pybedtools
pyranges
pysam>0.15.0,<=0.19.1
pyyaml>=6.0
ray<=2.0.1
seaborn
snakemake
tqdm
trackhub
ujson
xopen
xxhash
